footer.footer
    .container
        .row
            .col-24.col-md-6
                .footer__container
                    p.footer__text Diseño y desarrollo Dante Interactive
            .col-24.col-md-12
                .footer__container
                    p.footer__text BEBER CON MODERACIÓN<br><span> | </span>PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
                    p.footer__text TODOS LOS DERECHOS RESERVADOS © 2019 Grupo Avinea
            .col-24.col-md-6
                .footer__container
                    ul.footer__social
                        li.footer__item
                            a(href="https://www.facebook.com/BodegaCuestaDelMadero/" target="_blank")
                                i.fa.fa-facebook
