header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img(src="/images/logo.png")
                    .header__wrapper
                        nav.header__nav
                            ul.header__list
                                li.header__list-item
                                    a(href="/roble") Roble
                                li.header__list-item
                                    a(href="/varietales") varietales
                                li.header__list-item
                                    a(href="/dulce") dulce
                                li.header__list-item
                                    a(href="/clasicos") Clásicos
                                li.header__list-item
                                    a(href="/contacto") contacto
                        ul.header__social
                            li.header__item
                                a(href="https://www.facebook.com/BodegaCuestaDelMadero/" target="_blank")
                                    i.fa.fa-facebook
                        .header__hamburguer
                            span
                            span
                            span                        


